In [1]:
import pandas as pd
import os
from sas7bdat import SAS7BDAT

In [2]:
new_path = "/Users/andreajackman/CPSC368" 
os.chdir(new_path)
os.getcwd()

'/Users/andreajackman/CPSC368'

# read in the CIUS data and clean it

In [3]:
# read in data
internet_access = pd.read_csv("data/raw/CIUS_internet_access.csv")
internet_activity = pd.read_csv("data/raw/CIUS_internet_activity.csv")
internet_goods_services = pd.read_csv("data/raw/CIUS_internet_goods_services.csv")
internet_intensity = pd.read_csv("data/raw/CIUS_internet_intensity.csv")
internet_use_location = pd.read_csv("data/raw/CIUS_internet_use_location.csv")
overall_internet_access = pd.read_csv("data/raw/CIUS_overall_internet_access.csv")

In [4]:
# merge all cius dataframes
merged_data = internet_access
merged_data = pd.merge(merged_data, internet_activity, on=['age_group', 'year'], how='outer')
merged_data = pd.merge(merged_data, internet_goods_services, on=['age_group', 'year'], how='outer')
merged_data = pd.merge(merged_data, internet_intensity, on=['age_group', 'year'], how='outer')
merged_data = pd.merge(merged_data, internet_use_location, on=['age_group', 'year'], how='outer')
# merged_data = pd.merge(merged_data, overall_internet_access, on=['age_group', 'year'], how='outer')

merged_data.columns

Index(['age_group', 'year', 'access_to_internet', 'sent_received_emails',
       'instant_messaging', 'social_media', 'voice_calls', 'dating_apps',
       'news', 'research', 'health_research', 'events_research',
       'services_research', 'music', 'podcasts', 'video_streaming',
       'video_sharing_websites', 'subscription_video', 'sports', 'eSports',
       'video_game_stream', 'tv', 'books_magazines', 'play_video_games',
       'gambling', 'buy_online_boards', 'search_jobs', 'online_banking',
       'online_investing', 'virtual_wallet', 'online_formal_training',
       'informal_training', 'booked_appointments', 'track_health',
       'online_gov_services', 'smart_home', 'online_shopping', 'digital_goods',
       'physical_goods', 'peer_ride_services', 'peer_accomodation_services',
       'other', 'prop_use_internet', 'prop_stream_videos',
       'prop_play_video_games', 'less_than_ten_hours_internet',
       'less_than_ten_hrs_stream_video', 'less_than_ten_hrs_play_video_games',
       'ten_to_twenty_hrs_internet', 'ten_to_twenty_hrs_stream_video',
       'ten_to_twenty_hrs_play_video_games', 'twenty_plus_internet',
       'twenty_plus_stream_videos', 'twenty_plus_play_videos', 'work',
       'school', 'public_library', 'public_location', 'business', 'home',
       'someone_else_home'],
      dtype='object')

In [5]:
merged_data

,age_group,year,access_to_internet,sent_received_emails,instant_messaging,social_media,voice_calls,dating_apps,news,research,...,twenty_plus_internet,twenty_plus_stream_videos,twenty_plus_play_videos,work,school,public_library,public_location,business,home,someone_else_home
0,15 to 24 years,2018,98.6,92.3,89.6,91.1,68.1,11.0,71.4,88.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,15 to 24 years,2020,98.0,90.5,93.1,91.3,80.1,14.9,76.9,NaN,...,42.5,25.4,14.8,38.8,35.6,4.8,28.7,34.4,92.5,49.9
2,15 to 24 years,2022,99.2,93.3,92.1,90.5,81.8,14.8,75.9,NaN,...,42.3,25.9,15.0,45.4,62.9,17.3,37.8,39.7,94.0,60.2
3,25 to 44 years,2018,98.2,94.2,88.6,86.4,60.5,8.3,83.7,90.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,25 to 44 years,2020,98.2,95.0,90.9,87.2,79.6,10.8,89.4,NaN,...,34.5,20.3,5.2,51.5,6.1,3.5,24.6,28.5,91.4,39.0
5,25 to 44 years,2022,99.2,96.2,91.2,89.6,80.1,13.4,85.4,NaN,...,33.2,21.4,7.8,58.4,10.9,6.0,28.3,29.2,92.6,46.5
6,45 to 64 years,2018,93.9,87.8,68.6,62.8,40.1,2.6,73.1,82.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,45 to 64 years,2020,94.2,87.3,75.1,65.9,59.1,4.6,81.4,NaN,...,22.6,11.9,2.0,38.2,3.3,2.3,20.6,24.4,85.4,26.4
8,45 to 64 years,2022,96.4,92.2,78.2,72.3,61.0,6.7,80.0,NaN,...,19.1,13.7,2.6,41.8,4.8,4.2,19.7,20.8,89.0,26.8
9,65 years and over,2018,71.2,62.9,33.6,32.4,21.2,0.8,46.7,56.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,65 years and over,2020,76.3,67.0,44.1,39.7,37.2,1.8,57.1,NaN,...,12.6,8.5,1.9,6.1,0.3,1.2,9.0,9.1,70.4,13.7
11,65 years and over,2022,82.6,74.7,50.9,43.5,37.8,2.3,61.2,NaN,...,12.6,8.8,1.7,6.1,0.2,2.0,9.0,8.7,78.0,15.9
12,"Total, 15 years and over",2018,91.3,85.5,71.1,68.5,47.0,5.3,71.0,80.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Total, 15 years and over",2020,92.3,85.9,76.3,70.9,64.1,7.5,78.2,NaN,...,27.2,15.8,4.9,35.8,8.2,2.8,20.6,23.9,85.2,31.2
14,"Total, 15 years and over",2022,94.5,89.6,78.0,73.7,64.7,8.9,76.9,NaN,...,25.4,16.8,5.8,39.5,13.5,6.0,22.5,23.3,88.3,35.2

In [7]:
# write clean csv
merged_data.to_csv('data/CIUS_clean_data.csv', index=False)

# Read in the WHO data and clean it

In [8]:
# read in who data
who_data = pd.read_csv("data/raw/WHO_COVID_19_global_daily_data.csv")
who_data

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-04,AF,Afghanistan,EMR,NaN,0,NaN,0
1,2020-01-04,AL,Albania,EUR,NaN,0,NaN,0
2,2020-01-04,DZ,Algeria,AFR,NaN,0,NaN,0
3,2020-01-04,AS,American Samoa,WPR,0.0,0,0.0,0
4,2020-01-04,AD,Andorra,EUR,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...
450715,2025-02-23,WS,Samoa,WPR,NaN,17057,NaN,31
450716,2025-02-23,VC,Saint Vincent and the Grenadines,AMR,NaN,9674,NaN,124
450717,2025-02-23,PM,Saint Pierre and Miquelon,AMR,NaN,3426,NaN,2
450718,2025-02-23,MF,Saint Martin,AMR,NaN,12324,NaN,46
450719,2025-02-23,LC,Saint Lucia,AMR,NaN,30231,NaN,410

In [9]:
# filter for Canada
who_filtered = who_data[who_data['Country'] == 'Canada']
who_filtered

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
37,2020-01-04,CA,Canada,AMR,NaN,0,NaN,0
388,2020-01-05,CA,Canada,AMR,NaN,0,NaN,0
517,2020-01-06,CA,Canada,AMR,NaN,0,NaN,0
868,2020-01-07,CA,Canada,AMR,NaN,0,NaN,0
997,2020-01-08,CA,Canada,AMR,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...
449667,2025-02-19,CA,Canada,AMR,NaN,4819055,NaN,55282
449797,2025-02-20,CA,Canada,AMR,NaN,4819055,NaN,55282
450147,2025-02-21,CA,Canada,AMR,NaN,4819055,NaN,55282
450277,2025-02-22,CA,Canada,AMR,NaN,4819055,NaN,55282
450627,2025-02-23,CA,Canada,AMR,NaN,4819055,NaN,55282

In [10]:
# filter for the years we want
who_filtered['Date_reported'] = pd.to_datetime(who_filtered['Date_reported'])  # Convert to datetime

who_filtered_new = who_filtered[who_filtered['Date_reported'].dt.year.isin([2020, 2022])]
who_filtered_new

/var/folders/bk/6zsdr_0d5tbb4ggk0ngc_l940000gn/T/ipykernel_12630/2481220808.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  who_filtered['Date_reported'] = pd.to_datetime(who_filtered['Date_reported'])  # Convert to datetime

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
37,2020-01-04,CA,Canada,AMR,NaN,0,NaN,0
388,2020-01-05,CA,Canada,AMR,NaN,0,NaN,0
517,2020-01-06,CA,Canada,AMR,NaN,0,NaN,0
868,2020-01-07,CA,Canada,AMR,NaN,0,NaN,0
997,2020-01-08,CA,Canada,AMR,NaN,0,NaN,0
...,...,...,...,...,...,...,...,...
261157,2022-12-27,CA,Canada,AMR,NaN,4476385,NaN,48421
261507,2022-12-28,CA,Canada,AMR,NaN,4476385,NaN,48421
261637,2022-12-29,CA,Canada,AMR,NaN,4476385,NaN,48421
261987,2022-12-30,CA,Canada,AMR,NaN,4476385,NaN,48421
262117,2022-12-31,CA,Canada,AMR,16395.0,4492780,350.0,48771

In [11]:
# replace NAs in 2020 with zeros - from cumulative cases column we know there are no new cases
who_filtered_new.loc[who_filtered_new['Date_reported'].dt.year == 2020] = who_filtered_new.loc[who_filtered_new['Date_reported'].dt.year == 2020].fillna(0)
who_filtered_new

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
37,2020-01-04,CA,Canada,AMR,0.0,0,0.0,0
388,2020-01-05,CA,Canada,AMR,0.0,0,0.0,0
517,2020-01-06,CA,Canada,AMR,0.0,0,0.0,0
868,2020-01-07,CA,Canada,AMR,0.0,0,0.0,0
997,2020-01-08,CA,Canada,AMR,0.0,0,0.0,0
...,...,...,...,...,...,...,...,...
261157,2022-12-27,CA,Canada,AMR,NaN,4476385,NaN,48421
261507,2022-12-28,CA,Canada,AMR,NaN,4476385,NaN,48421
261637,2022-12-29,CA,Canada,AMR,NaN,4476385,NaN,48421
261987,2022-12-30,CA,Canada,AMR,NaN,4476385,NaN,48421
262117,2022-12-31,CA,Canada,AMR,16395.0,4492780,350.0,48771

In [12]:
# summarize by week
# filter for 2020 and 2022 before June 12
filtered_df = who_filtered_new[
    (who_filtered_new['Date_reported'].dt.year.isin([2020, 2022])) &
    (who_filtered_new['Date_reported'].dt.month <= 6) & 
    (who_filtered_new['Date_reported'].dt.day < 12)
]

# group by week and sum numerical columns
weekly_summary = filtered_df.resample('W-Mon', on='Date_reported').sum()

# reset index to make Date_reported a column again
weekly_summary = weekly_summary.reset_index()
weekly_summary

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths
0,2020-01-06,CACACA,CanadaCanadaCanada,AMRAMRAMR,0.0,0,0.0,0
1,2020-01-13,CACACACACA,CanadaCanadaCanadaCanadaCanada,AMRAMRAMRAMRAMR,0.0,0,0.0,0
2,2020-01-20,0,0,0,0.0,0,0.0,0
3,2020-01-27,0,0,0,0.0,0,0.0,0
4,2020-02-03,CACACA,CanadaCanadaCanada,AMRAMRAMR,1.0,12,0.0,0
...,...,...,...,...,...,...,...,...
123,2022-05-16,CACA,CanadaCanada,AMRAMR,7891.0,7600807,35.0,79859
124,2022-05-23,0,0,0,0.0,0,0.0,0
125,2022-05-30,0,0,0,0.0,0,0.0,0
126,2022-06-06,CACACACACACA,CanadaCanadaCanadaCanadaCanadaCanada,AMRAMRAMRAMRAMRAMR,12325.0,23260888,145.0,247432
127,2022-06-13,CACACACACA,CanadaCanadaCanadaCanadaCanada,AMRAMRAMRAMRAMR,11769.0,19431953,67.0,206594

In [13]:
# summarize 2020 by week because 2022 is by week
filtered_df = who_filtered_new[(who_filtered_new['Date_reported'] > '2022-06-11') & (who_filtered_new['New_cases'].notna())]

# grooup the filtered data by week and sum the numerical columns
weekly_summary_new = filtered_df.groupby(pd.Grouper(key='Date_reported', freq='W-Mon')).agg({
    'New_cases': 'sum',
    'New_deaths': 'sum',
    'Cumulative_cases': 'first'  # Keep the first Cumulative_cases for the week
}).reset_index()

# reset the index to make Date_reported a column again
weekly_summary_new = weekly_summary_new.reset_index()

# put these together
weekly_summary = pd.concat([weekly_summary, weekly_summary_new])

weekly_summary

,Date_reported,Country_code,Country,WHO_region,New_cases,Cumulative_cases,New_deaths,Cumulative_deaths,index
0,2020-01-06,CACACA,CanadaCanadaCanada,AMRAMRAMR,0.0,0,0.0,0.0,NaN
1,2020-01-13,CACACACACA,CanadaCanadaCanadaCanadaCanada,AMRAMRAMRAMRAMR,0.0,0,0.0,0.0,NaN
2,2020-01-20,0,0,0,0.0,0,0.0,0.0,NaN
3,2020-01-27,0,0,0,0.0,0,0.0,0.0,NaN
4,2020-02-03,CACACA,CanadaCanadaCanada,AMRAMRAMR,1.0,12,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...
24,2022-12-05,NaN,NaN,NaN,15134.0,4426153,308.0,NaN,24.0
25,2022-12-12,NaN,NaN,NaN,16209.0,4442362,285.0,NaN,25.0
26,2022-12-19,NaN,NaN,NaN,16625.0,4458987,280.0,NaN,26.0
27,2022-12-26,NaN,NaN,NaN,17398.0,4476385,382.0,NaN,27.0
28,2023-01-02,NaN,NaN,NaN,16395.0,4492780,350.0,NaN,28.0

In [14]:
# select certain columns
weekly_summary = weekly_summary[['Date_reported', 'New_cases', 'Cumulative_cases']]
weekly_summary['year'] = weekly_summary['Date_reported'].dt.year  # Extract the year
weekly_summary = weekly_summary.loc[~weekly_summary['year'].isin([2021, 2023])]
weekly_summary

/var/folders/bk/6zsdr_0d5tbb4ggk0ngc_l940000gn/T/ipykernel_12630/709948753.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  weekly_summary['year'] = weekly_summary['Date_reported'].dt.year  # Extract the year

   Date_reported  New_cases  Cumulative_cases  year
0     2020-01-06        0.0                 0  2020
1     2020-01-13        0.0                 0  2020
2     2020-01-20        0.0                 0  2020
3     2020-01-27        0.0                 0  2020
4     2020-02-03        1.0                12  2020
..           ...        ...               ...   ...
23    2022-11-28    14582.0           4411019  2022
24    2022-12-05    15134.0           4426153  2022
25    2022-12-12    16209.0           4442362  2022
26    2022-12-19    16625.0           4458987  2022
27    2022-12-26    17398.0           4476385  2022

[104 rows x 4 columns]

In [15]:
# add row for 2018
new_row = pd.DataFrame({'Date_reported': ['2018-11-11'], 'New_cases': [0], 'Cumulative_cases': [0], 'year': [2018]})

# add the new row to the existing df
weekly_summary = pd.concat([weekly_summary, new_row], ignore_index=True)
weekly_summary

           Date_reported  New_cases  Cumulative_cases  year
0    2020-01-06 00:00:00        0.0                 0  2020
1    2020-01-13 00:00:00        0.0                 0  2020
2    2020-01-20 00:00:00        0.0                 0  2020
3    2020-01-27 00:00:00        0.0                 0  2020
4    2020-02-03 00:00:00        1.0                12  2020
..                   ...        ...               ...   ...
100  2022-12-05 00:00:00    15134.0           4426153  2022
101  2022-12-12 00:00:00    16209.0           4442362  2022
102  2022-12-19 00:00:00    16625.0           4458987  2022
103  2022-12-26 00:00:00    17398.0           4476385  2022
104           2018-11-11        0.0                 0  2018

[105 rows x 4 columns]

In [16]:
# now summarize the average by year
avg_new_cases_by_year = weekly_summary.groupby('year')['New_cases'].mean()
avg_new_cases_by_year

year
2018        0.000000
2020      759.057692
2022    27326.269231
Name: New_cases, dtype: float64

# Merge the two datasets together

In [17]:
# now merge the two datasets together
merged_data = pd.merge(merged_data, avg_new_cases_by_year, on=['year'], how='outer')
merged_data

,age_group,year,access_to_internet,sent_received_emails,instant_messaging,social_media,voice_calls,dating_apps,news,research,...,twenty_plus_stream_videos,twenty_plus_play_videos,work,school,public_library,public_location,business,home,someone_else_home,New_cases
0,15 to 24 years,2018,98.6,92.3,89.6,91.1,68.1,11.0,71.4,88.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
1,25 to 44 years,2018,98.2,94.2,88.6,86.4,60.5,8.3,83.7,90.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
2,45 to 64 years,2018,93.9,87.8,68.6,62.8,40.1,2.6,73.1,82.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
3,65 years and over,2018,71.2,62.9,33.6,32.4,21.2,0.8,46.7,56.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
4,"Total, 15 years and over",2018,91.3,85.5,71.1,68.5,47.0,5.3,71.0,80.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000
5,15 to 24 years,2020,98.0,90.5,93.1,91.3,80.1,14.9,76.9,NaN,...,25.4,14.8,38.8,35.6,4.8,28.7,34.4,92.5,49.9,759.057692
6,25 to 44 years,2020,98.2,95.0,90.9,87.2,79.6,10.8,89.4,NaN,...,20.3,5.2,51.5,6.1,3.5,24.6,28.5,91.4,39.0,759.057692
7,45 to 64 years,2020,94.2,87.3,75.1,65.9,59.1,4.6,81.4,NaN,...,11.9,2.0,38.2,3.3,2.3,20.6,24.4,85.4,26.4,759.057692
8,65 years and over,2020,76.3,67.0,44.1,39.7,37.2,1.8,57.1,NaN,...,8.5,1.9,6.1,0.3,1.2,9.0,9.1,70.4,13.7,759.057692
9,"Total, 15 years and over",2020,92.3,85.9,76.3,70.9,64.1,7.5,78.2,NaN,...,15.8,4.9,35.8,8.2,2.8,20.6,23.9,85.2,31.2,759.057692
10,15 to 24 years,2022,99.2,93.3,92.1,90.5,81.8,14.8,75.9,NaN,...,25.9,15.0,45.4,62.9,17.3,37.8,39.7,94.0,60.2,27326.269231
11,25 to 44 years,2022,99.2,96.2,91.2,89.6,80.1,13.4,85.4,NaN,...,21.4,7.8,58.4,10.9,6.0,28.3,29.2,92.6,46.5,27326.269231
12,45 to 64 years,2022,96.4,92.2,78.2,72.3,61.0,6.7,80.0,NaN,...,13.7,2.6,41.8,4.8,4.2,19.7,20.8,89.0,26.8,27326.269231
13,65 years and over,2022,82.6,74.7,50.9,43.5,37.8,2.3,61.2,NaN,...,8.8,1.7,6.1,0.2,2.0,9.0,8.7,78.0,15.9,27326.269231
14,"Total, 15 years and over",2022,94.5,89.6,78.0,73.7,64.7,8.9,76.9,NaN,...,16.8,5.8,39.5,13.5,6.0,22.5,23.3,88.3,35.2,27326.269231

In [19]:
# write the new clean file
merged_data.to_csv('data/merged_data_clean.csv', index=False)